[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "lib/stmlib"]
	path = lib/stmlib
	url = https://github.com/pichenettes/stmlib.git
[submodule "lib/pure-data"]
	path = lib/pure-data
	url = git@github.com:pure-data/pure-data.git
[submodule "lib/pd.build"]
	path = lib/pd.build
	url = git@github.com:pierreguillot/pd.build.git
